<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kdg.toast.plugin">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application android:name=".Bridge">
        <service android:name=".PedometerService"
            android:enabled="true"
            android:exported="true"/>
    </application>
</manifest>